.center {
  padding: 100px 50px;
}

.fake-button {
  font-size: 16px;
  font-weight: 700;
  border-radius: 500px;
  border-width: 0px;
  margin: 20px;
  letter-spacing: 2px;
  min-width: 160px;
  padding: 16px 48px 18px;
  white-space: normal;
  background-color: rgb(255, 90, 95);
}

.fake-button a {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}