.nav-search-input {
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px 8px rgba(0,0,0,0.1);
  font-size: 22px;
  border-radius: 2px;
  outline: none;
  transition: 0.60s;

  width: 350px;
}

.previous-search {
  
}

.nav-search-input:hover {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.nav-search-input:focus {
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  width: 450px;
}

.nav-search-modal {
  width: 100px;
  height: 100px;
  position: absolute;
  width: 350px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 3px 3px 15px rgba(0,0,0,0.4);
  transition: 0.5s;
  background: white;
}

.nav-bar-wrapper {
  width: 100vw;
}