*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.bg-modal{
  width:100%;
  height: 100%;
  background-color:rbga(0,0,0,0.7);
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* display: none; */
}

  .modal-content{
    width:500px;
    height: 250px;
    background-color: white;
    border-radius: 4px;
    color:"red";
    font-size: 40px;

  } 

  .close{
    position: absolute;
    top:0;
    right:14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }
