* {
  font-family: Arial, Helvetica, sans-serif;
}

.lblReservationForm{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif ;
    font-size: 12px ;
    /* font-weight: 600 !important; */
    line-height: 1.33333em ;
    color: rgb(72, 72, 72) ;
    margin: 0px ;
    display: inline;
}

.price{
  float: left;
}
.total{
  padding-left: 200px;
  }

 .reservation-form form {
  padding: 15px;
  display: flex;
  flex-direction: column;
} 

.reservation-form input {
  width: 100%;
  height: 40px;
  padding: 2px 2px;
  border: 1px solid #dfe0e6;
  border-radius: 0;
}

.reservation-form button {

  font-size: 16px;
  font-weight: 700;
  border-radius: 2px;
  border-width: 0px;
  margin: 20px;
  letter-spacing: 2px;
  width: 100%;
  padding: 8px 16px 6px;
  white-space: normal;
  color: white;
  background-color:rgba(13, 82, 54, 0.4);;
}

.divider {
  border-top: 1px solid #dfe0e6;
  margin: 15px;
  min-width: 300px;
}

.reservation-form span {
  font-size: 18px;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation-form h4 {
  text-align: center;
}


.reservationContainer {
    margin: auto;
    padding: 10px;
}

.reservationComponent {
  width: 200px;
}

.reservation-form {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 300px;
  position: absolute;
  top:490px;
  right:50px;
  
}


.propertyDetailComponent {
   display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.headerImage{
  width: 100%;
  height:300px;
  transition: transform 0.9s; 
  cursor: pointer;
  margin: 0 auto;
  border: 1px solid #EBEBEB ;
  border-radius: 1px !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
   /* object-fit: contain; */
  
}
.headerImage:hover {
  -ms-transform: scale(1.1); 
  -webkit-transform: scale(1.1); 
  transform: scale(1.1);
}

.propertyDetails{
  /* width:calc(100vw - 266px); */
  width:100%;
  
}



.preData{
  overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px ;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
    padding-left: 10px;
  
}


.mainPropertyDetails{
   width: calc(100% - 380px);
}

.seperator{
  margin-top: 16px; 
  margin-bottom: 16px;
  border-bottom: 1px solid lightgray;
 content:'-';
}

.comment {
    margin-bottom: 20px;
     /* width: calc(100% - 250px); */
    min-height: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    background-color: white;
}

.top {
    display: flex;
    justify-content: space-between;
}
.comment .userInfo {
    display: flex;
    align-items: center;
}
.comment .avatar {
    flex: 0;
    width: 48px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.comment .userInfo .username {
    font-size: 16px;
    font-weight: normal;
    font-family: 'PT Sans';
}

a, .link {
    color: #3264ff;
    text-decoration: none;
    font-weight: bold;
}

.comment .userInfo .date {
    padding-top: 5px;
    font-size: 12px;
    color: grey;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.review{
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
}

textarea{
overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;
  
    width: calc(100% - 390px);
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgrey;
    border-radius: 2px;
 
}


.img ul{
  width: 100%;
    float: left;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    background-color: white;
}

.siteHeader{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.siteHeader .siteLogo{
    margin: -100px;
}


.btnSubmit {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.btnSubmit:hover {
  background-color:  rgba(13, 82, 54, 0.4);
  box-shadow: 0px 15px 20px rgba(6, 51, 33, 0.4);
  color: #fff;
  transform: translateY(-7px);
}