<div class="modal">
  <div class="modal_dialog">
    <section class="modal_content">
      <header class="modal_header">
        <h2 class="modal_title">
          asdsaDsdasdasDSad
        </h2>
        <a href="#" class="modal_close">&times;</a>
      </header>
      <div class="modal_body">
        <img src="https://placehold.it/200x100" alt="modal image" class="modal_image" />
        <p class="modal_text">
          your reservation has been done successfully
        </p>
      </div>
      <footer class="modal_footer">
        <a href="">see more details about your reservation</a>
      </footer>
    </section>
  </div>
</div>