
*, *::after, *::before{
  box-sizing: border-box;
}


html{
  font-size: 15px;
}

body{
  font-family:  "Helvetica", sans-serif;
  width:94%;
  margin:0 auto;
}

.modal{
  background:rgba(0, 0, 0, .8);
  position: fixed;
  left:0;
  top:0;
  height: 100%;
  width:100%;
  
}

.modal_dialog{
  display: table-cell;
  vertical-align:middle;
}

.modal_content{
    display: table-cell;
  vertical-align:middle;
  width:60%;
  min-width:300px;
  margin:auto;
  background:rgba(255,255,255, 1);
  
}

.modal_header{
  background-color:red;
   color:rgba(255,255,255, .8);
   padding: 1rem;
}

.modal_title{
  margin:0;
  
} 

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 10;
}

.form-modal {
    background-color: white;
    width: 300px;
    
    border: 1px solid black;
    padding: 25px;
    border-radius: 8px;
    box-sizing: border-box;
        /* display: table-cell; */
  vertical-align:middle;
}