.dropdown {
  position: absolute;
  top: 82px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.dropdown a {
  display: block;
  width: 100vw;
  height: 60px;
  text-decoration: none;
  color: rgb(72, 72, 72);
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding: 20px 0 0 20px;
}

.dropdown a:hover {
  color: black;
}

.logo-button {
  top: 0;
  left: 0;
  height: 82px;
  width: 82px;
  cursor: pointer;
  background-color: transparent;
}

.logo-button svg{
  position: absolute;
  top: 0;
  left: 0;
  height: 82px;
  width: 82px;
  cursor: pointer;
  padding: 0;
  z-index: -1;
}