.search-filter {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.filter-toggle {
  padding: 5px 15px;
  margin: 5px 5px;

  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 15px;
}

.filter-toggle:hover {
  border: 1px solid rgba(0,0,0,0.6);
  cursor: pointer;
}

.search-result {
  border: 1px solid black;
  width: 250px;
  height: 200px;
  padding: 5px;
  margin: 10px auto;
}